body {
	background-color: white;
	margin-left: 0;
	margin-top: 0;
}
p, li, blockquote, ul, ol, dl, td, th, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	text-align: justify;
}
dl dt {
	font-weight: bold;
}
div.figure {
	font-style: italic;
	text-align: center;
}
div.figure p {
	font-style: italic;
	text-align: center;
}
table.borderless-table {
	border: none;
}
th {
	font-weight: bold;
}
td.td-right {
	text-align: right;
	vertical-align: top;
}
span.required {
	font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
h1 {
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 0em;
}
h2 {
	font-size: 1.5em;
	margin-top: 2em;
}
h3 {
	font-size: 1.2em;
	font-style: italic;
}
h4 {
	font-size: 1em;
	font-weight: bold;
}
pre {
	border-style: solid;
	border-width: thin;
	padding: 3px;
	font-size: 13px;
}
code {
	font-family: "Courier New", Courier, mono;
	font-size: 13px;
	color: #000000;
}
a:link {
	color: black;
}
a:visited {
	color: black;
}
a:hover {
	color: black;
}
a:active {
	color: black;
}

div.leftnav {
	text-align: left;
	color: black;
	background: #e3e3e3;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
div.leftnav ul {
	list-style-type: none;
}
div.leftnav table.leftnav-table {
	padding: 1px;
	border-style: solid;
	border-width: thin;
	border-color: #cccccc;
}

div.leftnav span.heading {
	border-style: solid;
	border-width: thin;
	border-color: #cccccc;
}
div.leftnav li.item {
	font-size: 11px;
	text-align: left;
}

div.leftnav td.item {
	font-size: 11px;
	text-align: left;
}
.itemhead {font-size: 12px; color: #333333; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; }

div.header a:link {
	color: black;
	text-decoration: none;
}
div.header a:visited {
	text-decoration: none;
	color: black;
}
div.header a:hover {
	text-decoration: underline;
	color: black;
}
div.header a:active {
	text-decoration: none;
	color: black;
}
div.header_nav {
	font-size: 12px;
	color: black;
	font-weight: bold;
	text-align: center;
}

div.leftnav a:link {
	color: black;
	text-decoration: none;
}
div.leftnav a:visited {
	text-decoration: none;
	color: black;
}
div.leftnav a:hover {
	text-decoration: underline;
	color: black;
}
div.leftnav a:active {
	text-decoration: none;
	color: black;
}
div.header-text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-align: right;
}
.header-bpel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #e3e3e3;
	height: 21px;
	font-weight: bold;
	background:white url('/images/nav_bar_1pixel.gif') repeat-x top left;
	text-align: center;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: 12px;
	font-weight: normal;
	font-variant: normal;
	color: #808080;
	text-decoration: none;
	text-align: center;
}
.subbold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
}
.paragraph_header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
}
.big_paragraph_header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

span.error {
	color: #ff0000;
	font-weight: bold;
}
.TODO {
	color: #ff0000;
}
